The item your selected is: {{ playItem.itemId }}
<!--<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">-->
<div class="sm2-bar-ui fixed full-width" ng-click="podClick($event)">
    <h3>{{playItem.podClick}}</h3>
    <h4>{{item.title}}</h4>
           <!-- <div class="pod-date">
             <pre>{{playItem.item.pubDate}}</pre>
           </div> -->
        <p>{{item.description}}</p>

</div>

<!--<p ng-repeat="item.link in playItem.item"> -->
<!-- <audio ng-click="playItem.itemSeen()" ng-src="{{audioUrl}}" preload="auto" type="audio/mpeg" tabindex="0"controls="" /> -->

<!--<form>
  <div class="form-group">
    <label>
      Add to Playlist:
    </label>
    <input type="text" ng-model="feedAdd.url" class="form-control" />
  </div> -->
   <!-- <button ng-click="feedAdd.submit()">Add Feed!</button> -->
   <!-- <button ng-click="feedAdd.sub_scribe()">subScribe!</button> 
</form>
<source ng-src=playItem.item.link type="audio/mpeg" /> 
<button ng-click="playItem.playIt()">Play Item!</button>
</audio> -->
<!--<div ng-class="{playing:pod.playing}" ng-click="podClick($event)" class="pod">
  <div afkl-lazy-image="{{pod.imageUrl}}" class="img"></div>
  <div class="pod-body">
    <div class="pod-header">
      <div class="pod-title">
        <h4>{{pod.title}}</h4>
        <h6> <a href="/{{pod.feedSlug}}">{{pod.feedTitle}}</a></h6>
      </div>
      <div class="pod-date">
        <pre>{{pod.pubDate | date}} {{pod.pubDate | date:'shortTime'}}</pre>
      </div>
    </div>
    <p>{{pod.description}}</p>
    <pod-controls></pod-controls>
  </div>
</div> -->
