<div>
<div ng-click="controlsClick($event)" class="controls">
  <!--<div class="timing">
    <pre class="position">{{pod.position}}</pre>
  </div> -->
  <!-- <div class="statusbar"> -->
     <div class="timing">
      <!-- <pre class="position">{{pod.position}}</pre> -->
      <pre>{{pod.position}}</pre>
     </div>
 <div class="statusbar" style="width:100%">

    <div style="width: {{pod.loadPercent}}%" class="loading"></div>
    <div style="width: {{pod.playPercent}}%" class="position"></div>
  </div>
</div>
</div>
